<section class="container-fluid bg-light">
  <div class="row">
    <div class="col-12">
      <div class="min-vh-100 text-center bg-light d-flex flex-column justify-content-center">
        <h2 class="display-5 fw-bold text-primary"> EVENTBRITE</h2>
        <h1 class="h3 mb-3 text-muted">Créez votre événement</h1>
        <div class="container col-2">

<%= form_tag url_for(action: 'create'), method: "post", multipart: true do %>
      
      <%=label_tag 'Start date'%>
      <input type="date" id="start" name="start_date" value=<%= Time.now%> min=<%= Time.now%> max="2031-12-31">
      <br /> <br />

      <%= label_tag 'Duration (in minutes)' %>
      <%= number_field_tag 'duration'%>
      <br /> <br />
    
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title'%>
      <br /> <br />

      <%= label_tag 'Description' %>
      <%= text_area_tag 'description' %>
      <br /> <br />

      <%= label_tag 'Price (in euros)' %>
      <%= number_field_tag 'price'%>
      <br /> <br />

      <%= label_tag 'Location' %>
      <%= text_field_tag 'location'%>
      <br /> <br />

      <%= label_tag 'Image de couverture' %><br />
      <%= file_field_tag "picture" %>
      <br /> <br />

      <%= submit_tag "Créer l'évènement" %>

    <% end %>
        </div>
      </div>
    </div>
  </div>
</section>