    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      
      <%=label_tag 'Start date'%>
      <input type="date" id="start" name="start_date" value=<%= Time.now%> min=<%= Time.now%> max="2031-12-31">
      <br /> <br />

      <%= label_tag 'Duration (in minutes)' %>
      <%= number_field_tag 'duration'%>
      <br /> <br />
    
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title'%>
      <br /> <br />

      <%= label_tag 'Description' %>
      <%= text_area_tag 'description' %>
      <br /> <br />

      <%= label_tag 'Price (in euros)' %>
      <%= number_field_tag 'price'%>
      <br /> <br />

      <%= label_tag 'Location' %>
      <%= text_field_tag 'location'%>
      <br /> <br />

      <%= label_tag 'Image de couverture' %><br />
      <%= file_field_tag "picture" %>
      <br /> <br />

      <%= submit_tag "Créer l'évènement" %>

    <% end %>





    <%= form_for url_for(action: 'create'), method: "post"  do |f| %>
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >

        <h1 class="h3 mb-3 font-weight-normal text-center">Nouvel évènement</h1>
        <div class="form-group">
          <%= f.label :title, "Title" %><br />
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :start_date, "Start date" %><br />
          <%= f.date_field :start_date, autofocus: true, autocomplete: "start_date", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :duration, "Duration (in minutes)" %><br />
          <%= f.number_field :duration, autofocus: true, autocomplete: "duration", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :picture, "Picture" %><br />
          <%= f.file_field :picture, autofocus: true, autocomplete: "picture", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description" %><br />
          <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price, "Price (in euros)" %><br />
          <%= f.number_field :number, autofocus: true, autocomplete: "price", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location, "Location" %><br />
          <%= f.text_field :location, autofocus: true, autocomplete: "location", class: "form-control" %>
        </div>
        
        <div class="actions mt-5">
          <%= submit_for "Sign up", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

     